<div id="request-invite" class="modal" style="display: <%= @user.errors.any? ? 'block' : 'none';%>">
  <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Request Invitation</h3>
    </div>
    <div class="modal-body">
      <%= f.error_notification %>
      <%= f.input :email, :placeholder => 'user@example.com' %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Request Invitation", :class => "btn.btn-success", :id => 'invitation_button' %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>
<div style="text-align: center" class="img-rounded">
	<%= image_tag("logo.png")%>
</div>

<div id="romance-copy" class="lead" style="text-align: left; margin-top: 40px">
	
	<p>Vir2OZ is like Salesforce for organizational processes. 
		We improve the processes that happen daily in every company by gamifying inetractions between employees and uncovering the wisdom of the crowd.
	</p>
	<p>
  	    Want to join or Beta customers group? Awsome!
  	    We like to keep our Beta crew small and closely connected. So we are keeping a queue of anticipating customers.
  	</p>
  	<p>
  	    click the button bellow and we will get back to you as soon as a spot opens up!
  	 </p>
  	
</div>
<div id="call-to-action" style="text-align: center; margin-top: 80px">
  <a class="btn btn-primary btn-large" data-toggle="modal" href="#request-invite">Request invite</a>
</div>